@font-face {
	font-family: "vazir";
	src: url("../../public/fonts/Vazir.eot");
	src: url("../../public/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
		url("../../public/fonts/Vazir.woff2") format("woff2"),
		url("../../public/fonts/Vazir.woff") format("woff"),
		url("../../public/fonts/Vazir.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "roboto";
	src: url("../../public/fonts/Roboto-Regular.eot");
	src: url("../../public/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../public/fonts/Roboto-Regular.woff2") format("woff2"),
		url("../../public/fonts/Roboto-Regular.woff") format("woff"),
		url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B_Mitra_Bold";
	src: url("../../public/fonts/B_Mitra_Bold.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "IranNastaliq";
	src: url("../../public/fonts/IranNastaliq.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'B-Mitra';
	src: local('B-Mitr'), url(../../public/fonts/B-Mitra.ttf) format('truetype');
}

@font-face {
	font-family: 'B-NAZANIN';
	src: local('B-NAZANIN'), url(../../public/fonts/B-NAZANIN.ttf) format('truetype');
}

.rtl {
	direction: rtl;
}

.ltr {
	direction: ltr;
}

.input {
	width: 48%;

	&:focus {
		border: none;
		box-shadow: 0px 0px 5px red !important;
	}
}

.input-bg {
	background-color: rgba(246, 246, 255, 0.205);
	border-radius: 25px;
}

.word-input {
	font-weight: bold;
}

p {
	margin: 0;
	padding: 2px;
}

.words {
	// border: 2px solid red;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around !important;

	.word {
		border-radius: 20px;
		transition: all 1s;
		font-size: 1.2rem;
		display: flex;
		justify-content: center;

		.word-input {
			border-style: 0.5px solid;
			background-color: rgba(0, 0, 0, 0);
			margin: 0px;
			background-color: rgb(255, 0, 0);
			// font-size: 1.1rem;
			font-weight: bold
		}

		&:hover {
			// border: red 2px solid;
			transition: all 0.2s;
			// transform: scale(1.1);
			// box-shadow: 0px 0px 10px rgb(23, 248, 34);
		}

		.word-btn-red:hover {
			background-color: red;
		}

		.word-btn-green:hover {
			background-color: rgb(80, 246, 3);
		}

		.word-btn-blue:hover {
			background-color: rgb(0, 195, 255);
		}
	}
}

@media only screen and (max-width: 600px) {
	li {
		width: 100% !important;
	}
}

ol {
	li {
		margin-right: 18px;
		min-width: 259px;

		&::marker {
			font-size: 10px !important;
		}
	}
}

.sidebar {
	transition: all 1s;

}

.custom-ui {
	height: 100vh;
	background-color: rgba(255, 127, 127, 0.459);
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;

	.custom-ui-message {

		margin-top: 50vh;
	}
}

.side-bg {
	position: absolute;
	background-image: url('../assets/sidebg.png') !important;
	// background-image: url('../assets/sidebg2.jpg') !important;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -500;
	opacity: 0.8;
	box-sizing: border-box;
}

.side-icon {
	color: rgb(5, 5, 5);
	font-size: 1.5rem;
}

.FormControlLabel {
	border-radius: 25px;
}

.colorly {

	background: linear-gradient(90deg, rgba(217, 20, 20, 0.7399334733893557) 0%, rgba(209, 104, 17, 0.7455357142857143) 19%, rgba(94, 121, 9, 0.7511379551820728) 35%, rgba(7, 150, 117, 0.700717787114846) 49%, rgba(4, 135, 189, 0.7203256302521008) 68%, rgba(164, 3, 203, 0.7091211484593838) 75%, rgba(0, 212, 255, 0.6446953781512605) 100%);
}

.gray {
	background-color: #9a9a9a;
}

.blue {
	background-color: #93BFCF;
}

.white {
	background-color: #A084DC;
}


.editor-page {
	background-image: url('../assets/man-taking-note.png') !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80% 50%;
}


.speedycontroler {
	/* border: 1px solid red; */
	display: flex !important;
	justify-content: center !important;
	// padding: 4px;
	position: fixed;
	display: block;
	width: 100%;
	bottom: 10px;

}

.muirtl-mgur8 {
	position: fixed;
	bottom: 56px !important;
	left: 33px !important;
}