@font-face {
	font-family: "vazir";
	src: url("../../public/fonts/Vazir.eot");
	src: url("../../public/fonts/Vazir.eot?#iefix") format("embedded-opentype"),
		url("../../public/fonts/Vazir.woff2") format("woff2"),
		url("../../public/fonts/Vazir.woff") format("woff"),
		url("../../public/fonts/Vazir.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "roboto";
	src: url("../../public/fonts/Roboto-Regular.eot");
	src: url("../../public/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
		url("../../public/fonts/Roboto-Regular.woff2") format("woff2"),
		url("../../public/fonts/Roboto-Regular.woff") format("woff"),
		url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "B_Mitra_Bold";
	src: url("../../public/fonts/B_Mitra_Bold.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "IranNastaliq";
	src: url("../../public/fonts/IranNastaliq.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'B-Mitra';
	src: local('B-Mitr'), url(../../public/fonts/B-Mitra.ttf) format('truetype');
}

@font-face {
	font-family: 'B-NAZANIN';
	src: local('B-NAZANIN'), url(../../public/fonts/B-NAZANIN.ttf) format('truetype');
}

body {

	background-color: #426f8500;
	// font-family: B-NAZANIN;
	// font-size: 1.4rem;
	// min-width: 400px;
		// border: 2px solid red;
}

.rtl {
	direction: rtl;
}

.ltr {
	direction: ltr;
}

.input {
	width: 48%;

	&:focus {
		border: none;
		box-shadow: 0px 0px 5px red !important;
	}
}

.input-bg {
	background-color: rgba(246, 246, 255, 0.205);
	border-radius: 25px;
	// margin: 5px;
}

.word-input {

	font-weight: bold;
}

p {
	margin: 0;
	padding: 2px;
}

.words {
	// border: 2px solid red;
		border-radius: 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around !important;
	.word {
		border-radius: 20px;
		transition: all 1s;
		font-size: 1.2rem;
		display: flex;
			justify-content: center;

		.word-input {
				border-style: 0.5px solid;
				background-color: rgba(0, 0, 0, 0);
				margin: 0px;
				background-color: rgb(255, 0, 0);
				// font-size: 1.1rem;
				font-weight: bold
			}

		&:hover {
			// border: red 2px solid;
				transition: all 0.2s;
			// transform: scale(1.1);
				// box-shadow: 0px 0px 10px rgb(23, 248, 34);
			}

								.word-btn-red:hover {
									background-color: red;
								}

								.word-btn-green:hover {
									background-color: rgb(80, 246, 3);
								}
								.word-btn-blue:hover {
									background-color: rgb(0, 195, 255);
		}
		}
}

@media only screen and (max-width: 600px) {
	li {
		width: 100% !important;
	}
}

ol {
	li {
		margin-right: 25px;
		min-width: 230px;

		&::marker {
			font-size: 10px !important;
		}
	}
}

.sidebar {
	transition: all 1s;

}
.custom-ui {
	height: 100vh;
	background-color: rgba(255, 127, 127, 0.459);
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;

	.custom-ui-message {

		margin-top: 50vh
	}
}