@font-face {
	font-family: 'B-Mitra';
	src: local('B-Mitr'), url(../fonts/B-Mitra.ttf) format('truetype');
}

@font-face {
	font-family: 'B-NAZANIN';
	src: local('B-NAZANIN'), url(../fonts/B-NAZANIN.ttf) format('truetype');
}

body {
	background-color: #426f8500;
	font-family: B-NAZANIN;
	// font-size: 1.4rem;
		min-width: 400px;
}

.rtl {
	direction: rtl;
}

.ltr {
	direction: ltr;
}

.input {
	width: 48%;

	&:focus {
		border: none;
		box-shadow: 0px 0px 5px red !important;
	}
}
.input-bg {
	background-color: rgba(108, 108, 109, 0.205);
	border-radius: 25px;
	margin: 5px;
}
.word-input {

	font-weight: bold;
}

p {
	margin: 0;
	padding: 2px;
}

.words {
	.word {
		border-radius: 20px;
		transition: all 1s;
		font-size: 1.2rem;
			display: flex;
			justify-content: center;
			.word-input {
				border-style: 0.5px solid;
				background-color: rgba(0, 0, 0, 0);
				margin: 0px;
				background-color: rgb(255, 0, 0);
				// font-size: 1.1rem;
				font-weight: bold
			}
		&:hover {
			border: red 2px solid;
				transition: all 0.2s;
				transform: scale(1.1);
					// box-shadow: 0px 0px 10px rgb(23, 248, 34);
			}

			.word-btn-red:hover {
				background-color: red;
			}

			.word-btn-blue:hover {
				background-color: rgb(0, 195, 255);
		}
		}
}


ol {
	li {
		margin-right: 25px;

		&::marker {
			font-size: small;
		}
	}
}

.sidebar {
	transition: all 1s;

}